.TicketCell {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: min-content;
  justify-content: space-between;
}

.ticketCell__name {
  color: #a0b0b9;
  font-family: 'Open Sans';
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: 18px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  margin: 0;
}

.ticketCell__value {
  color: #4a4a4a;
  font-family: 'Open Sans';
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 21px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  margin: 0;
}
